# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://okauzglpkrdatujkqczc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rYXV6Z2xwa3JkYXR1amtxY3pjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEwNTc2NDIsImV4cCI6MjA3NjYzMzY0Mn0.wrDH2RNrGm-vQWBY4-JJE9_zASE2ImjE6O5upogUxfQ


# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
